      <!-- partial:../../partials/_sidebar.html -->
       <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/index">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/property/find">
              <i class="ti ti-search menu-icon"></i>
              <span class="menu-title">Find Property</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/AddProperty">
              <i class="ti ti-pencil-alt menu-icon"></i>
              <span class="menu-title">Register Property</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/AddContract">
              <i class="ti ti-layout-cta-btn-right menu-icon"></i>
              <span class="menu-title">Residential Contract</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contract/view/res">
              <i class="ti ti-layout-cta-btn-right menu-icon"></i>
              <span class="menu-title">All Residential Contract</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/AddCommercialContract">
              <i class="ti ti-layout-cta-left menu-icon"></i>
              <span class="menu-title">Commercial Contract</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contract/view/comm">
              <i class="ti ti-layout-cta-btn-right menu-icon"></i>
              <span class="menu-title">All Commercial Contract</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/addUser">
              <i class="ti ti-face-smile menu-icon"></i>
              <span class="menu-title">Add User</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/all">
              <i class="ti ti-face-smile menu-icon"></i>
              <span class="menu-title">Active Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/NA/all">
              <i class="ti ti-face-sad menu-icon"></i>
              <span class="menu-title">InActive Users</span>
            </a>
          </li>


        </ul>
      </nav>